button{
    border: 2px rebeccapurple;
    background-color: darkgreen;
    border-radius: 34px;
    font-family: 'Algerian';
    font-size: 240%;
    color: cadetblue;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px cyan;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
}
div{
    text-align: center;
}